
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Features</title>
</head>
<body>
    <div>
        <div>
            <h3>Navigate to a URL to show an example</h3>
        </div>

        <div>
            @Html.ActionLink("Auto Properties", "AutoProperty")
        </div>
    </div>
</body>
</html>
